* {
    padding: 0;
    margin: 0;
}
body {
    background: aliceblue;
}

.header {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 100px;
}

.header-kgl-logo {
    width: 20%;
    padding: 10px;
}

.header-kgl-logo img {
    max-width: 100%;
}

.header-text {
    width: 75%;
    display: block;
}

.header-text nav ul li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: system-ui;
    padding: 10px;
}


.header-text ul {
    list-style: none;
    display: flex;
    justify-content: left;
    padding: 35px;
}

.header-text nav ul li a:hover {
    color: rgb(84, 88, 88);
}


.header-text nav ul li {
    margin: auto;
}

.home {
    font-size: 50px;
    text-align: center;
    padding: 80px;
}


.main-manu {
    width: auto;
    height: 431px;
    background: hsl(0, 2%, 30%);
    display: block;
    padding: 80px;
}

.main-manu-box {
    width: 1300px;
    height: auto;
    margin: auto;
    display: flex;
}

.main-manu-box-text {
    color: white;
    padding: 25px;
    width: 60% ;
}

.main-manu-box-text h2 {
    font-size: 55px;
    padding-bottom: 25px;
    padding-top: 25px;
}
}
.main-manu-box-text h3 {
    font-size: 36px;
    padding-bottom: 20px;
}

.main-manu-box-text h4 {
    font-size: 29px;
    padding-bottom: 20px;
}
.main-manu--box-border {
    display: flex;
    padding: 15px;
    justify-content: space-around;
}

.box-past {
    padding: 20px 0 10px 0;
    width: 1200px;
    height: auto;
    margin: auto;
}

.box-past h1 {
    text-decoration: underline;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px;
}

.boris {
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    background: white;
    padding: 10px;
}
.boris-img {
    width: 50%;
    height: auto;
    padding-right: 30px;
}

.boris-img img {
    max-width: 100%;
}
.boris-text h1 {
    font-size: 40px;
}

.boris-text h2 {
    font-size: 35px;
    padding-top: 10px;
}

.boris-text h3 {
    font-size: 15px;
    padding-bottom: 20px;

}

.boris-text h6 {
    font-size: 25px;
    padding-left: 50px;
    padding-top: 20px;
}

.view-more {
    font-size: 15px;
    text-align: center;
    object-view-box: revert-layer;
    padding: 20px;
    color: brown;
}

.footer {
    width: auto;
    height: 359px;
    background: #373737;
    display: block;
    padding-top: 50px;
}
.footer-img {
    margin: auto;
    width: 1200px;
}

.footer img {
    max-width: 100%;
}

.footer-text nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(100, 20, 20);
    height: auto;
    padding: 20px;
}

.footer-text nav ul {
    list-style: none;

}

.footer-text {
    width: 1000px;
    margin: auto;
    transform: translate(-20%,);

}


.main-box-03 h4 {
    padding-bottom: 20px;
}

.main-box {
    width: 1200px;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.main-box-01 {
    width: 30%;
}

.main-box-02 {
    width: 30%;
}

.main-box-03 {
    width: 30%;
}

.main-box h1 {
    font-size: 30px;
}

.main-box h2 {
    font-size: 30px;
    padding: 10px 0px;
}

.speakers-main {
    width: 1000px;
    height: auto;
    margin: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.spkears-img-box {
    background: bisque;
    width: 100%;
}

.spkears-img-box img {
    max-width: 100%;
}

.speakers-main h2 {
    font-size: 19px;
    padding: 10px 0px;
}

.speakers-main h3 {
    font-size: 14px;
}

.speakers-main-02 {
    width: 32%;
}

.speakers-main-01 {
    width: 32%;
}
.speakers-main-02 {
    width: 32%;
}
.speakers-main-03 {
    width: 32%;
}

.about {
    width: 1100px;
    height: auto;
    display: flex;
    margin: auto;
}


.about-main-box {
    width: 60%;
    padding-bottom: 15px;
}

.about-img {
    width: 35%;
    padding-left: 35px;
}

.about-img img {
    max-width: 100%;
}

.about-main-box h1 {
    font-size: 36px;
}

.about-main-box p {
    text-align: justify;
    padding-top: 20px;
}

.massage-main {
    width: 1000px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.address-main h1 {
    padding-bottom: 20px;
}

.contuct {
    width: 1000px;
    margin: auto;
    padding-bottom: 25px;
}